attrs==21.2.0
click==8.0.3
Deprecated==1.2.13
emoji==1.6.1
fasttext==0.9.2
filelock==3.4.0
grpcio==1.43.0
importlib-resources==5.4.0
jsonschema==4.3.1
msgpack==1.0.3
numpy==1.21.4
phonenumbers==8.12.41
protobuf==3.19.1
pybind11==2.8.1
pyrsistent==0.18.0
PyYAML==6.0
ray==1.9.0
redis==4.0.2
six==1.16.0
wrapt==1.13.3
zipp==3.6.0
